.detail-page {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.detail-page-phone {
    flex-direction: column;
}

.detail-main {
    flex: 1;
}

.detail-description {
    text-align: left;
}

.detail-chapterTitle {
    &::before {
        content: '';
        width: 0;
        height: 0;
        border: .5vw solid transparent;
        border-left-color: #549dff;
    }
}

.detail-chip {
    &:hover {
        color: #2196f3;
        border: 1px solid #2196f3;
        & p {
            color: #2196f3;
        }
    }
}

.detail-chip-content {
    display: flex;
    flex-wrap: wrap;
    & > * {
        margin: 10px;
    }
}

// pc 
.pc-detail-mess {
    width: 20%;
    padding: 10px;
    text-align: center;
    & > :not(:first-child) {
        text-align: left;
    }
}

// phone 
.phone-detail-mess {
    width: 100vw;
    height: 25vh;
    min-height: 500px;
    margin-left: -28px;
    margin-top: -30px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    z-index:1;
    img {
        z-index: 10;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    &::after {
        content: "";
        position: absolute;
        left:0;
        right:0;
        bottom:0;
        top:0;
        background: inherit;
        filter: blur(10px);
        z-index: 2;
    }
}

.phone-detail-mess-info {
    position: absolute;
    left: 25px;
    top: 10px;
    z-index: 3;
    font-size: 30px;
    font-weight: bolder;
    color: #E53935;
}