@import '../../../style/variable.scss';

.root {}

.head {
    display: flex;
    align-items: flex-end;
}

.icon {
    svg {
        font-size: 40px;
    }
}

.ma {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 3px dashed #666666; 
}

.message {
    font-size: 34px;
    color: #999999;
}

.action {
    font-size: 24px;
}

.body {
    padding: 20px;
}
