// pc
.pc-root {
    padding: 10px 8vw 10px 2vw;
}

.pc-anchor {
    position: fixed;
    top: 10vh;
    right: 2vw;
}

.pc-anchor-link {
    position: relative;
    bottom: 100px;
    height: 1px;
    border: none;
}

// randomRead
.refush {
    font-size: 16px;
    &:hover{
        cursor: pointer;
    }
}