@import '../../style/variable.scss';

.search-list{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    @media screen and ($discern_key: $discern_value) {
        display: flex;
        flex-direction: column;
        & > * {
            margin-top: 20px;
        }
    }
}

.search-pagination {
    margin: 10px auto;
}

.tool-box-root {
    display: block;
    width: 20vw;
    position: absolute;
    top: 2vh;
    right: 10px;

    @media screen and ($discern_key: $discern_value) { 
        position: initial;
        padding-top: 2vh;
        width: 90vw;
        margin: 0 auto;
    }
}

.tool-box {}

.tool-box-btns {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1vh;

    & > :not(:first-child) {
        margin: 0 1vw;
    }
}

.tool-group {
    max-height: 50vh;
    overflow-y: auto;
}

.h-icon {
    svg {
        font-size: 20px;
    }
}

.h-action {
    font-size: 16px;
}