.ant-back-top {
    bottom: 15vh!important;

    .ant-back-top-content {
        width: 56px;
        height: 56px;
        border-radius: 50%;

        .ant-back-top-icon {
            width: 18px;
            height: 30px;
        }
    }
}

