#root {
  min-height: 100vh; }

.App {
  position: relative;
  text-align: center;
  min-height: 100vh;
  background-color: #fafafa; }
  .App > .ignore {
    position: absolute;
    top: 63px;
    left: 0;
    right: 0;
    padding: 0 5px;
    min-height: calc(100vh - 63px);
    background-color: #fafafa; }
    .App > .ignore > :nth-child(1) {
      padding-bottom: 30px; }

.Dui-drawer-shift {
  width: 240px;
  white-space: nowrap; }
  @media screen and (max-width: 450px) {
    .Dui-drawer-shift {
      width: 600px; } }

.Dui-abh-shift {
  width: calc(100% - 240px) !important;
  margin-left: 240px; }
  @media screen and (max-width: 450px) {
    .Dui-abh-shift {
      width: calc(100% - 600px) !important;
      margin-left: 600px; } }
  .Dui-abh-shift .menuButton {
    display: none; }
