@import '../../style/variable.scss';

.chapter-root {
    width: 80%;
    margin: 0 auto;

    @media screen and ($discern_key: $discern_value) {
        width: 95%;
    }
}

.chapter-bread {
    text-align: left;
    font-size: 20px;
}

.chapter-toolbar {
    position: fixed;
    right: 10px;
    top: 60vh;
    display: flex;
    flex-direction: column;
    width: 250px;
    background: white;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.chapter-toolbar-btn {
    position: fixed;
    top: 63vh;
    right: -15px;;
    z-index: 1000;
}

.chapter-phone-imgList {
    display: inline-block;
    background: black;
    width: 100%;
    li {
        margin-bottom: 10px;
    }
}

.image-root {
    position: relative;
    text-align: center;
    background: #424242;
}

.image-load {
    position: absolute;
    width: 100%;
    top: 0;
}

.image-error {
    position: absolute;
    top: 30%;
    left: 45%;
    z-index: 101;
    & svg {
        font-size: 100px; 
        color: white;
    }
}

.hover-area {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 100;
}

.left-allow {
    left: 0;
    &:hover {
        cursor: url('./img/back.png'), pointer;
        background: linear-gradient(to right, rgba(255,255,255,0.3), rgba(0,0,0,0) 10%);
    }
}

.right-allow {
    right: 0;
    &:hover {
        cursor: url('./img/next.png'), pointer;
        background: linear-gradient(to left, rgba(255,255,255,0.3), rgba(0,0,0,0) 10%);
    }
}

.allow-disabled {
    &:hover {
        cursor: not-allowed;
    }
}

.image-vc {
    position: absolute;
    top: 0%;
    right: 10px;
    z-index: 101;
    & svg {
        font-size: 50px; 
        color: white;
    }
}

.barrage-hidden {
    visibility:hidden;
}

.toolbox-root {
    display: block;
    width: 20vw;
    position: absolute;
    top: 2vh;
    right: 10px;
    padding: 5px;
}

.toolbox-title {
    margin-right: 10px;
}

// pc
.pc-img-root {
    position: relative;
}

.pc-barrage-root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

// phone
.phone-imgList {
    background: #000;
    width: 100%;

    & li {
        margin: 15px 5px;
    }
}