@import '../../../style/variable.scss';

.body {
    overflow: hidden;
    padding: 5px;
}

.section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    @media screen and ($discern_key: $discern_value) {
        display: flex;
        flex-direction: column;
        & > * {
            margin-top: 20px;
        }
    }
}